DATABASE_URL=postgresql://usuario:contraseña@host:5432/nombre_bd?options=-csearch_path%3Dsistema
JWT_SECRET=clave_secreta
JWT_EXPIRES_IN=8h
PORT=3000
NODE_ENV=development
CLIENT_URL=http://localhost:5173
VITE_API_URL=http://localhost:3000/api
